body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    max-width: 60%;
    margin: 30px auto;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

h1 {
    color: #64ffda;
    text-align: center;
}

.form {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: #ccc;
}

input[type="number"] {
    width: calc(100% - 16px);
    padding: 10px;
    border: 1px solid #444;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border-radius: 4px;
    margin-top: 5px;
}

input[type="checkbox"] {
    margin-left: 8px;
}

button {
    width: 100%;
    padding: 12px;
    background: #64ffda;
    color: #121212;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #50c9b0;
}

.result {
    margin-top: 15px;
}

.password {
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #333;
    margin-bottom: 8px;
    color: #ffffff;
}

#copy-button {
    width: 100%;
    padding: 10px;
    background: #64ffda;
    color: #121212;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#copy-button:hover {
    background: #50c9b0;
}

.password-strength {
    color: #64ffda;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        max-width: 90%;
    }
}
